.container__image {
  background: url("./assets/main_backdrop.jpeg") no-repeat center;
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.container__image::before {
  background-color: rgba(66, 100, 179, 0.681);
  content: "";
  display: block;
  height: 40vh;
  position: absolute;
  width: 100%;
}
